* {
	box-sizing: border-box;

}
body{

    background-image:url("./images/bg2img.jpg");
    background-size:100%;

}
.navimg {
  margin: 4%;
  width: 100%;
  height: 45px;

}
.navbar{
background-color:transparent;
}
.nav-item a:hover {
 color:#D8BFD8 !important;
 border:1px solid white;
 border-radius:5px;
}
.nav-item a{
font-weight:600;
font-size:20px;
}
.head1{
    color:white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem
   font-weight: 600;
   letter-spacing: 0.2rem;
   padding: 42px 15px;

}
.successmsg{
color:white;
}

#formcontainer{
    background: #2c3e50;  /* fallback for old browsers */
     background: rgba(3, 3, 55, 0.5);
    border: 1px solid #ebedef;
    border-radius:6px ;
    width: 30%;
    height:35%;

}
.message{
color:green;
}

.head6{
color:red;
}
.error{
color:white;
}
.error1{
color:white;
}
.td{
font-family: "Raleway", sans-serif;
color:white;
}
label{
font-family: "Raleway", sans-serif;
color:white;
}
#button1{
border:1px solid white;
border-radius:6px;
background-image: linear-gradient(to top, #0a1a3e 0%, #d09693 100%);
}
.newUser{
text-align:center;
color:white;
text-decoration:none;
}
.newUser:hover{
color:white;
}