<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bus Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/busLists.css">
</head>
<body>
<nav class="navbar navbar-expand-sm  navbar-dark fixed-top">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="./images/myjourney.png" class="navimg" alt="journey"
                                              width="60px"></a>

        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end pr-2 pl-3" id="menu-nav">
            <!-- right aligned nav -->
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/{userName}/busBookings (userName=${userName})}">Booked Buses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    </div>
</nav>
<div class="container  mt-5" align="center">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Bus Registration Number</th>
            <th scope="col">Bus Name</th>
            <th scope="col">Starting Place</th>
            <th scope="col">Destination Place</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bus : ${buses}">
            <td th:text="${bus.registrationNumber}"></td>
            <td th:text="${bus.busName}"></td>
            <td th:text="${bus.startingPlace}"></td>
            <td th:text="${bus.destinationPlace}"></td>
            <td><a class="btn btn-primary" th:href="@{/{userName}/viewSchedule/{id} (userName=${userName},id=${bus.registrationNumber})}">Search</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

