<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="mt-4"><span th:text="${message}"/></h1>
<main class="ticket">
    <section class="ticket-sub">
        <h3>Admit</h3>
        <p></p>
    </section>
    <section class="ticket-main">
        <section class="ticket-seat">
            <h3>Lower Box Seat <span>$30</span></h3>
            <div class="ticket-seat-box">
                <p>Section</p>
                <h4>06</h4>
            </div>
            <div class="ticket-seat-box">
                <p>Box</p>
                <h4>9</h4>
            </div>
            <div class="ticket-seat-box">
                <p>Seat</p>
                <h4>69</h4>
            </div>
        </section>
        <section class="ticket-info">
            <div class="ticket-info-brand">
                <h3>Codepen Brawl</h3>
            </div>
            <div class="ticket-info-brawler">
                <div class="brawler">
                    <span>Hila</span>
                    <span>Rious</span>
                </div>
                <div class="separator">VS</div>
                <div class="brawler">
                    <span>Biggus</span>
                    <span>Toesus</span>
                </div>
            </div>
            <div class="ticket-info-referee">
                <span>On-Ring Referee</span>
                <span>Ligma Dee</span>
            </div>
            <div class="ticket-info-date">
                <p>August 09, 6PM</p>
            </div>
            <div class="ticket-info-misc">
                <p>This ticket is fictional</p>
            </div>
        </section>
    </section>
</main>

</body>

</html>